.content {    
    display: flex;
    flex-direction: row;        
    justify-content: center;
}

.title {     
    font-size: 50px;
    align-items: center;     
}

.bacon {
    composes : title;  
    color : red;
}

.pancakes {
    composes : title;  
    color: blue;
}